In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/MOCK_USER_DATA.csv", index_col=0)
df.head()

   first_name   last_name                           email       gender   age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3      Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48

In [4]:
df.describe()

               age
count   100.000000
mean    145.660000
std     565.631411
min     -85.000000
25%      22.750000
50%      53.500000
75%      84.250000
max    4444.000000

In [5]:
df.shape

(100, 5)

In [6]:
df[df.age>123].index

Int64Index([3, 39, 47, 49, 65, 80, 100], dtype='int64', name='id')

In [7]:
df[(df.age<0)|(df.age>123)]

    first_name  last_name                           email       gender   age
id
3       Lilith   Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
11      Elijah      Heine                eheinea@imdb.com     Bigender   -85
19       Luisa  Bradborne            lbradbornei@fema.gov       Female   -75
21       Levin     Worner                lwornerk@ihg.com  Genderqueer   -43
33    Ebenezer    Greeves           egreevesw@myspace.com         Male   -26
38        Hana   Langwade  hlangwade11@washingtonpost.com  Genderqueer   -42
39      Godard      Miere               gmiere12@1688.com   Polygender  3434
47       Cleve  Sparshatt      csparshatt1a@economist.com  Genderfluid   333
49       Trace   Stockney          tstockney1c@flavors.me       Female   344
65      Eloise    Snoddon    esnoddon1s@elegantthemes.com  Genderfluid   332
80       Gabie     Rothon              grothon27@ehow.com  Genderqueer  4444
90   Zachariah      Meins            zmeins2h@weather.com         Male   -69
100      Mable    Toffano          mtoffano2r@myspace.com     Bigender   233

In [8]:
df.age = df.age.apply(np.abs)

In [9]:
idx = df[df.age>123].index

In [10]:
df.age.drop(index=idx, inplace=True)

In [11]:
df.gender.value_counts()

Male           21
Genderfluid    14
Bigender       13
Female         12
Genderqueer    11
Non-binary     10
Polygender     10
Agender         9
Name: gender, dtype: int64

In [12]:
df[df['gender'].isin(['Male','Female'])]

   first_name     last_name                         email  gender  age
id
2     Pietrek       Scanlin        pscanlin1@yolasite.com    Male   91
5    Mohammed    Habbershon  mhabbershon4@sourceforge.net  Female   48
10      David      Meredyth    dmeredyth9@telegraph.co.uk  Female   68
12  Raffaello     Firminger     rfirmingerb@bloomberg.com  Female   74
17      Byram   Martynikhin     bmartynikhing@jiathis.com    Male   40
19      Luisa     Bradborne          lbradbornei@fema.gov  Female   75
22        Ray         Padly           rpadlyl@twitpic.com    Male   85
26   Ephrayim    Westmacott         ewestmacottp@ning.com    Male   77
29      Biron      Acklands        backlandss@comsenz.com    Male   13
33   Ebenezer       Greeves         egreevesw@myspace.com    Male   26
34     Brooks          Vose             bvosex@amazon.com  Female   34
36        Axe       Arundel           aarundelz@yahoo.com  Female   14
43       Bili     Swetenham        bswetenham16@europa.eu    Male   23
46     Alvira  Stollsteiner     astollsteiner19@mysql.com    Male   66
49      Trace      Stockney        tstockney1c@flavors.me  Female  344
58     Brynna        Worsom              bworsom1l@wp.com    Male   66
61       Page       Merrell     pmerrell1o@slideshare.net    Male    1
62     Kennan         Visco          kvisco1p@jiathis.com  Female   94
63   Adrianne       Gommowe  agommowe1q@deliciousdays.com    Male  100
67     Bunnie        Ozanne      bozanne1u@whitehouse.gov    Male   92
70      Ambur        Aickin           aaickin1x@about.com    Male   60
72   Eleanora       Kamenar       ekamenar1z@examiner.com    Male   47
74      Curry    Smalecombe  csmalecombe21@washington.edu    Male   69
76      Misty         Blanc         mblanc23@amazon.co.jp    Male   74
77     Rudolf        Kalewe           rkalewe24@fotki.com    Male   12
81       Alex         Darth    adarth28@ezinearticles.com  Female   98
86    Rogerio          Akid           rakid2d@latimes.com  Female    3
87      Peder        Murrie       pmurrie2e@bloglovin.com    Male   69
88       Kain     Dumphries  kdumphries2f@hugedomains.com    Male   93
90  Zachariah         Meins          zmeins2h@weather.com    Male   69
91      Judas        Maffin         jmaffin2i@dropbox.com    Male    3
94     Sheree        Cockin     scockin2l@accuweather.com  Female   94
97     Kattie       Claxson        kclaxson2o@booking.com  Female   18

In [13]:
randlist = np.random.permutation(93)
randlist

array([69, 37,  9, 35, 89, 23, 50,  2, 25, 39, 52, 71, 82, 38, 73,  7, 92,
       77, 83,  8, 15, 28, 32, 58, 49,  3, 18, 47, 12, 46, 11, 63, 87, 14,
       76, 17, 34, 27, 42, 61, 31, 70, 84, 56, 19, 80, 55, 43, 62, 65, 74,
       36,  0, 54, 79, 16, 24, 10, 21, 48, 85,  5, 29, 90, 30, 22, 64, 88,
       66, 45, 78, 67, 60, 26, 81, 59, 44, 41, 86, 40, 13, 91, 51, 57,  1,
       33,  6, 68, 75,  4, 53, 72, 20])

# Jadvaldan tasodifiy qiymatlarni olish

In [14]:
df.head()

   first_name   last_name                           email       gender   age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3      Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48

# np.random.permutation bu qiymatlarni aralashtirib tashlash vazifasini bajaradi

In [16]:
randlist = np.random.permutation(93)
randlist

array([34, 13, 43, 41, 50, 56, 73, 81, 30, 26,  7, 11,  4, 70, 39, 60, 89,
       82, 16, 80, 64, 77, 75,  8, 61, 52, 33, 91,  1,  9, 85, 84, 83, 19,
       18, 35,  3, 55, 78, 38, 37, 12, 79, 49, 59, 88, 25, 23, 48, 22, 21,
       47, 32, 57,  5, 44, 66, 46, 74, 90, 53, 15, 68, 62, 87, 10, 20,  0,
       27, 71, 54, 31, 36, 45,  2,  6, 86, 14, 58, 29, 65, 72, 28, 24, 76,
       42, 69, 51, 67, 40, 17, 63, 92])

# bu malumotlarni dataga singdirish uchun yani 93ta malumot bor datada bu randlit da ham 93da malumot demak buni data bl birlashtirish uchun bizga take methodi yordam beradi

In [17]:
df.take(randlist)

   first_name  last_name                         email       gender  age
id
35    Deeanne   Iamittii          diamittiiy@nifty.com     Bigender   39
14    Mariana    Shevels             mshevelsd@msn.com      Agender   60
44     Marice  Champneys    mchampneys17@bigcartel.com     Bigender   49
42     Dermot     Dragge        ddragge15@google.co.jp  Genderfluid   37
51  Gwendolin    Kennion  gkennion1e@independent.co.uk     Bigender   83
..        ...        ...                           ...          ...  ...
68      Letty    Liddell            lliddell1v@nps.gov  Genderfluid   85
41   Katheryn   Ashleigh        kashleigh14@devhub.com      Agender   36
18    Artemus   Shovelin         ashovelinh@sphinn.com   Non-binary   58
64      Carla     Rumney           crumney1r@weibo.com   Polygender   56
93    Fairfax     Juleff            fjuleff2k@narod.ru   Polygender   84

[93 rows x 5 columns]

# mana endi datamiz betartib ublib chiqib keldi

* bu bizga nimaga kerak ilmiy ish qilganimizda tartib bilan kelgan masalan toshkent haqida 100ta ketma ket malumot kelgan bu bizga AI yaxshi ishlamasligini taminlaydi

# shu maqsadda data aralashtirib yuboriladi

# agar siz da datadan tasodifiy qiymatlarni olish kerak bulsa

In [18]:
df.sample(10)

   first_name   last_name                           email       gender  age
id
87      Peder      Murrie         pmurrie2e@bloglovin.com         Male   69
9         Der      Neames        dneames8@ycombinator.com     Bigender   77
73      Liane     Cackett            lcackett20@jigsy.com  Genderqueer   40
41   Katheryn    Ashleigh          kashleigh14@devhub.com      Agender   36
98       Clem     Fullerd  cfullerd2p@creativecommons.org     Bigender   55
95      Byron  Whittleton   bwhittleton2m@theatlantic.com   Non-binary    2
52     Tillie    Winslett     twinslett1f@theatlantic.com   Non-binary   90
86    Rogerio        Akid             rakid2d@latimes.com       Female    3
62     Kennan       Visco            kvisco1p@jiathis.com       Female   94
93    Fairfax      Juleff              fjuleff2k@narod.ru   Polygender   84

# df sample 10 ta takrorlangan qiymatlarni chiqarib beradi

* agar bazi birlari takrorlansa am buladi desangiz

In [19]:
df.sample(10, replace=True)

    first_name   last_name                           email       gender   age
id
80       Gabie      Rothon              grothon27@ehow.com  Genderqueer  4444
24        Mart      Brosel                mbroseln@cdc.gov  Genderfluid    22
57    Salvador     Dusting           sdusting1k@tripod.com   Non-binary    96
98        Clem     Fullerd  cfullerd2p@creativecommons.org     Bigender    55
5     Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48
87       Peder      Murrie         pmurrie2e@bloglovin.com         Male    69
76       Misty       Blanc           mblanc23@amazon.co.jp         Male    74
100      Mable     Toffano          mtoffano2r@myspace.com     Bigender   233
74       Curry  Smalecombe    csmalecombe21@washington.edu         Male    69
2      Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91

# replace true desangiz bazi qiymatlarni takror kelganini kurashingiz mumkin